/* font-family: 'Dancing Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

img{
    height: 10vh;
}

figure{
    width: 10vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 100%;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

li {
    list-style: none;
    cursor: pointer;
    font-size: 1.5rem;
}

div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10vw;
    flex-direction: column;
    border: solid 2px gray;
}